################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyNewWebMarket/.vs/MyNewWebMarket
/MyNewWebMarket/MyNewMarket.Dal/bin/Debug/netcoreapp3.1
/MyNewWebMarket/MyNewMarket.Dal/obj
